tr {
	width: 40px;
}

td {
	font-weight:100;
	font-size:30px;
	text-align:center;
	width: 40px;
}

#main {
	height:100%;
	width:100%;
}

#credits {
	text-align:right;
	position:absolute;
	bottom: 0pt;
	right: 0pt;
	font-size:12px;
}

.highlight {
	font-weight:500;
}

#watch {
	position:absolute;
	bottom:0pt;
	left:0pt;
	font-size:20px;
}

#switcher a{
	text-decoration:none;
	font-weight:100;
	font-size:30px;
}