/*
Colors used:
	Background:			#000000
	Highlight:			#FFFFFF
	Almost Blends In: 	#292929
	Other: 				#7D7D7D
	Links:				#9E9E9E
*/

body {
	background-color:#003000;
	color:#002300;
}

#watch {
	color:#7D7D7D;
}

#credits {
	color:#7D7D7D;
}

#credits a {
	color: #9E9E9E;
}

.highlight {
	color:#FFFFFF;
	text-shadow: #FFFFFF 0em 0em 0.5em, #FFFFFF 0em 0em 0.5em;
}

h1 {
	color:white;
}